#accueil.active {
    color: whitesmoke;
}
#services.active {
    color: whitesmoke;
}
#occasion.active {
    color: whitesmoke;
}
#contact.active {
    color: whitesmoke;
}
#avis.active {
    color: whitesmoke;
}


.mySlides {
    display: none;
    width: 100%;
    height: 40vh; /* 40% de la hauteur de la vue (viewport height) */
    object-fit: cover;
  }

.card {
    padding : 10px;
}